 <main class="main">
        <div class="main__container">
            <div class="main__container_left">
                <div class="main__card-title">
                    <img class="main_icon-water" [src]="imgWater" alt="iconTypePokemon"
                       >
                    <h2 class="main__title-name">SQUIRTLE</h2>
                </div>
                <div class="main__image-pokemon">
                 <img [src]="imgPokemon" alt="pokemon">
                </div>
            </div>

            <div class="main__container_rigth">
                <table>
                    <tr>
                        <th>NO.</th>
                        <th>LEVEL</th>
                    </tr>
                    <tr>
                        <td>0007</td>
                        <td>90</td>
                    </tr>
                </table>
                <hr>
                <table>
                    <tr>
                        <th>TYPE </th>
                        <th>HABILITY</th>
                    </tr>
                    <tr>
                        <td>WATER</td>
                        <td>TORRENT</td>
                    </tr>
                </table>
                <hr>
                <table>
                    <tr>
                        <th>HEIGHT</th>
                        <th>WEIGHT</th>
                    </tr>
                    <tr>
                        <td>0.5 m</td>
                        <td>9.0 Kg</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
